<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
      <meta charset="UTF-8" />
      <title>SIGASE - Sistema de Gestión de activos en situaciones de emergencia</title>
      <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
      <script type="module" crossorigin src="/assets/index-53ee5513.js"></script>
    </head>
    <body style="background-color: #ededed !important;">
        <div th:replace="index::logout"></div>
        <div id="root"></div>
        
    </body>
</html>
