<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <title>SIGASE - Sistema de Gestión de activos en situaciones de emergencia - Login</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
	</head>
    <body>
        <div class="container">
            <div class="login-parent-div">
                <div class="login-div">
                <h1>Login</h1>
                    <form th:action="@{/login}" method="post" autocomplete="off">
                        <input type="text" id="username" name="username" placeholder="Usuario" autofocus="autofocus" value="" /> <br />
                        <input type="password" id="password" placeholder="Contraseña" name="password" value=""/>
                        <p th:if="${loginError}" class="error">Usuario o contraseña incorrectos</p>
                        <input type="submit" value="Acceder" />
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
